{% extends "layout.html" %}

{% block title %}
Biblioteca
{% endblock %}

{% block main %}
<div class="container mt-4">
<!-- Search and filter section -->
<div class="row mb-3 align-items-center">
    <form class="col">
        <div class="row g-3 align-items-center">
            <div class="col">
                <input type="text" class="form-control" id="search-input" name="busqueda" placeholder="Buscar libros...">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="button" onclick="applySearch()">Buscar</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary" type="button" onclick="clearSearch()">Limpiar</button>
            </div>
            <div class="col-auto" style="color: #007bff">
                <span>Ordenar por</span>
            </div>
            <div class="col-auto">
                <select class="form-select" id="orderSelect" onchange="applyOrder()">
                    <option value="id_book" selected>ID Libro</option>
                    <option value="titulo">Título</option>
                    <option value="autor">Autor</option>
                    <option value="anio">Año</option>
                    <option value="genero">Género</option>
                    <option value="stock">Stock</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="form-select" id="directionSelect" onchange="applyOrder()">
                    <option value="ASC" selected>Ascendente</option>
                    <option value="DESC">Descendente</option>
                </select>
            </div>
        </div>
    </form>
</div>


    <!-- Table of books -->
    <div class="table-responsive">
        <table class="table" id="books-table">
            <thead>
                <tr>
                    <th scope="col">ID Libro</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Año</th>
                    <th scope="col">Género</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                <!-- The book entries will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </div>  

    <!-- Pagination buttons -->
    {{ render_pagination(pagination) }}
</div>

<script>
    // Load books when page is loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Call updateTable initial books
        updateTable({{ books|tojson }});
        // Add event listener to search bar
        var searchInput = document.getElementById("search-input");
        searchInput.addEventListener("keypress", function(event) {
            // Check if key pressed is 'Enter'
            if (event.key === "Enter") {
                event.preventDefault(); // Avoid Enter default behaviors
                applySearch(); // Call applySearch function
            }
        });
    });

    document.addEventListener('click', function(event) {
        if (event.target.matches('.page-link')) {
            event.preventDefault(); // Avoid link reloading the page
            const newUrl = event.target.href;
            // Update URL
            history.pushState(null, '', newUrl);
    
            // Make an AJAX call with new URL
            fetch(newUrl, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                updateTable(data.books);
                updatePagination(data.total_pages, data.current_page);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
    

    function applySearch() {
        var searchTerm = document.getElementById("search-input").value;
        var newUrl = `/biblioteca?search=${encodeURIComponent(searchTerm)}`;

        history.pushState(null, '', newUrl);
        fetchDataAndUpdate(newUrl);
    }

    function updateTable(books) {
        var tableBody = document.getElementById("books-table").getElementsByTagName("tbody")[0];
        tableBody.innerHTML = "";

        books.forEach(book => {
            var row = tableBody.insertRow();
            row.insertCell(0).textContent = book.id_book;
            row.insertCell(1).textContent = book.titulo;
            row.insertCell(2).textContent = book.autor;
            row.insertCell(3).textContent = book.anio;
            row.insertCell(4).textContent = book.genero;
            row.insertCell(5).textContent = book.stock;
        });
    }

    function applyOrder() {
        var selectedOrder = document.getElementById("orderSelect").value;
        var selectedDirection = document.getElementById("directionSelect").value;

        // Get the current URL search term
        var urlParams = new URLSearchParams(window.location.search);
        var searchTerm = urlParams.get('search') || '';

        // Build new URL including both search and order parameters
        var newUrl = `/biblioteca?search=${encodeURIComponent(searchTerm)}&o=${selectedOrder}&d=${selectedDirection}`;

        // Update URL
        history.pushState(null, '', newUrl);

        // Make the AJAX call
        fetchDataAndUpdate(newUrl);
    }
   
    function clearSearch() {
        var newUrl = `/biblioteca`;
    
        history.pushState(null, '', newUrl);
    
        // Make the AJAX call to reload data
        fetch(newUrl, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.books);
            updatePagination(data.total_pages, data.current_page);
            // Clean search field
            document.getElementById("search-input").value = "";
            // Set order fields to default values
            document.getElementById("orderSelect").value = "id_book";
            document.getElementById("directionSelect").value = "ASC";
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
    function updatePagination(totalPages, currentPage) {
        const paginationContainer = document.querySelector('.pagination');
        paginationContainer.innerHTML = ''; // Clear existing pagination buttons
    
        // Include current search and order parameters in the pagination links
        const urlParams = new URLSearchParams(window.location.search);
        const searchTerm = urlParams.get('search') || '';
        const order = urlParams.get('o') || 'titulo';
        const direction = urlParams.get('d') || 'ASC';
    
        for (let i = 1; i <= totalPages; i++) {
            const pageLink = document.createElement('a');
            // Mantain current search and order parameters in the pagination links
            urlParams.set('page', i);
            pageLink.href = `?${urlParams.toString()}`;
            pageLink.innerText = i;
            pageLink.className = 'page-link';
            if (i === currentPage) {
                pageLink.classList.add('active');
            }
    
            const pageItem = document.createElement('li');
            pageItem.className = i === currentPage ? 'page-item active' : 'page-item';
            pageItem.appendChild(pageLink);
    
            paginationContainer.appendChild(pageItem);
        }
    }

    function fetchDataAndUpdate(url) {
        fetch(url, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.books);
            updatePagination(data.total_pages, data.current_page);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
</script>
{% endblock %}


{% macro render_pagination(pagination) %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p != pagination.page %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('biblioteca', page=p) }}">{{ p }}</a></li>
                    {% else %}
                        <li class="page-item active"><span class="page-link">{{ p }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}