{% extends "layout.html" %}

{% block title %}
Editar Usuarios
{% endblock %}

{% block main %}
<div class="container mt-4">
    <!-- Search and filter section -->
    <div class="row mb-3 align-items-center">
        <form class="col">
            <div class="row g-3 align-items-center">
                <div class="col">
                    <input type="text" class="form-control" id="search-input" placeholder="Buscar usuarios...">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button" onclick="applySearch()">Buscar</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" type="button" onclick="clearSearch()">Limpiar</button>
                </div>
                <div class="col-auto" style="color: #007bff">
                    <span>Ordenar por</span>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="orderSelect" onchange="applyOrder()">
                        <option value="nombre" selected>Nombre</option>
                        <option value="rut">RUT</option>
                        <option value="correo">Correo</option>
                        <option value="permisos">Permisos</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="directionSelect" onchange="applyOrder()">
                        <option value="ASC" selected>Ascendente</option>
                        <option value="DESC">Descendente</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <!-- Table of users -->
    <div class="table-responsive">
        <table class="table" id="users-table">
            <thead>
                <tr>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Permisos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- The user entries will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </div>  

    <!-- Pagination buttons -->
    {{ render_pagination(pagination) }}
</div>

<script>
    // Load users when page is loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Call updateTable initial users
        updateTable({{ users|tojson }});
        // Add event listener to search bar
        var searchInput = document.getElementById("search-input");
        searchInput.addEventListener("keypress", function(event) {
            // Check if key pressed is 'Enter'
            if (event.key === "Enter") {
                event.preventDefault(); // Avoid Enter default behaviors
                applySearch(); // Call applySearch function
            }
        });
    });
    
    document.addEventListener('click', function(event) {
        if (event.target.matches('.page-link')) {
            event.preventDefault(); // Avoid link reloading the page
            const newUrl = event.target.href;
            // Update URL
            history.pushState(null, '', newUrl);

            // Make an AJAX call with new URL
            fetch(newUrl, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                updateTable(data.users);
                updatePagination(data.total_pages, data.current_page);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
    
    function applySearch() {
        var searchTerm = document.getElementById("search-input").value;
        var newUrl = `/editar-usuarios?search=${encodeURIComponent(searchTerm)}`;

        history.pushState(null, '', newUrl);
        fetchDataAndUpdate(newUrl);
    }
    
    function updateTable(users) {
        var tableBody = document.getElementById("users-table").getElementsByTagName("tbody")[0];
        tableBody.innerHTML = "";

        users.forEach(user => {
            var row = tableBody.insertRow();
            row.insertCell(0).textContent = formatRut(user.RUT);
            row.insertCell(1).textContent = user.nombre;
            row.insertCell(2).textContent = user.correo;
            row.insertCell(3).textContent = user.permisos;

            // Action cell
            var actionsCell = row.insertCell(4);
            actionsCell.style.display = "flex";
            actionsCell.style.justifyContent = "center";
            actionsCell.style.gap = "10px"; // This sets the space between the buttons

            // Edit button
            var editButton = document.createElement('a');
            editButton.href = `/edit-user?id=${user.RUT}`;
            editButton.textContent = 'Editar';
            editButton.classList.add('btn', 'btn-primary', 'mr-2'); // Style classes
            actionsCell.appendChild(editButton);

            // Delete button
            var deleteButton = document.createElement('a');
            deleteButton.href = `/delete-user?id=${user.RUT}`;
            deleteButton.textContent = 'Eliminar';
            deleteButton.classList.add('btn', 'btn-danger');
            actionsCell.appendChild(deleteButton);
        });
    }
    
    function applyOrder() {
        var selectedOrder = document.getElementById("orderSelect").value;
        var selectedDirection = document.getElementById("directionSelect").value;

        // Get the current URL search term
        var urlParams = new URLSearchParams(window.location.search);
        var searchTerm = urlParams.get('search') || '';

        // Build new URL including both search and order parameters
        var newUrl = `/editar-usuarios?search=${encodeURIComponent(searchTerm)}&o=${selectedOrder}&d=${selectedDirection}`;

        // Update URL
        history.pushState(null, '', newUrl);

        // Make the AJAX call
        fetchDataAndUpdate(newUrl);
    }
    
    function clearSearch() {
        var newUrl = `/editar-usuarios`;

        history.pushState(null, '', newUrl);

        // Make the AJAX call to reload data
        fetch(newUrl, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.users);
            updatePagination(data.total_pages, data.current_page);
            // Clean search field
            document.getElementById("search-input").value = "";
            // Set order fields to default values
            document.getElementById("orderSelect").value = "nombre";
            document.getElementById("directionSelect").value = "ASC";
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
    function updatePagination(totalPages, currentPage) {
        const paginationContainer = document.querySelector('.pagination');
        paginationContainer.innerHTML = ''; // Clear existing pagination buttons

        // Include current search and order parameters in the pagination links
        const urlParams = new URLSearchParams(window.location.search);
        const searchTerm = urlParams.get('search') || '';
        const order = urlParams.get('o') || 'nombre';
        const direction = urlParams.get('d') || 'ASC';
        for (let i = 1; i <= totalPages; i++) {
            const pageLink = document.createElement('a');
            urlParams.set('page', i);
            pageLink.href = `?${urlParams.toString()}`;
            pageLink.innerText = i;
            pageLink.className = 'page-link';
            if (i === currentPage) {
                pageLink.classList.add('active');
            }
            const pageItem = document.createElement('li');
            pageItem.className = i === currentPage ? 'page-item active' : 'page-item';
            pageItem.appendChild(pageLink);

            paginationContainer.appendChild(pageItem);
        }
    }
    
    function fetchDataAndUpdate(url) {
        fetch(url, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.users);
            updatePagination(data.total_pages, data.current_page);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
    function formatRut(rut) {
        var cleanedRut = rut.replace(/[^0-9kK]/g, "").replace(/k/g, "K");
    
        if (cleanedRut !== '' && cleanedRut.length > 1) {
            var numericPart = cleanedRut.replace(/\./g, "").replace(/-/g, "");
            if (numericPart.length > 9) {
                numericPart = numericPart.slice(0, -1);
            }
            var mainPart = numericPart.substring(0, numericPart.length - 1);
            var formattedRut = "";
            var i;
            for (i = mainPart.length - 1; i >= 0; i--) {
                var digit = mainPart.charAt(i);
                formattedRut = digit + formattedRut;
                if ((mainPart.length - i) % 3 === 0 && i !== 0) {
                    formattedRut = "." + formattedRut;
                }
            }
            var dv = numericPart.substring(numericPart.length - 1);
            formattedRut += "-" + dv;
            return formattedRut.substring(0, 12);
        }
        return cleanedRut;
    }
    
</script>
{% endblock %}


{% macro render_pagination(pagination) %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p != pagination.page %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('editar_usuarios', page=p) }}">{{ p }}</a></li>
                    {% else %}
                        <li class="page-item active"><span class="page-link">{{ p }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}